div.NavBar {
  position: relative;
  width: 100%;
}

div.BelowNavBar {
  position: relative;
  width: 100%;
  background:  #333333;
}

div.StickyFooter{
  position: relative;
  width:100%;
  margin: 0 auto;
}