div.NavBar {
  position: relative;
  width: 100%;
}

div.BelowNavBar{
  position: relative;
  width: 100%;
  background:  #333333;
  background-color: #333333;
}

.BelowNavBar > div:nth-child(1) > div:nth-child(2){
  background-color: #333333;
}

.BelowNavBar > div:nth-child(1){
  background-color: #333333 !important;
}

div.StickyFooter{
  position: relative;
  width:100%;
  margin: 0 auto;
}

div.Carousel{
  position: absolute;
  width: 100%;
  margin-top: 22%;
}

div.Home{
  position: relative;
}

.BelowNavBar > div.Home > div > div > div{
  z-index: 1;
  width: 20vmax !important;
  height: 1vmax !important;
  background: none !important;
  margin-top: 60% !important;
}

.BelowNavBar > div.Home > div{
  background: none !important;
  min-height: 0% !important;
}
