div.NavBar {
  position: relative;
  width: 100%;
}

div.BelowNavBar{
  position: relative;
  width: 100%;
  background:  #333333;
  background-color: #333333;
}

div.BelowNavBar:nth-child(1){
  background-color: #333333 !important;
  background: #333333;

}

element.style{
  background-color: #333333 !important;
}


div.StickyFooter{
  position: relative;
  width:100%;
  margin: 0 auto;
}