body{
    background: #C33764;
    background: -webkit-linear-gradient(to top, #1D2671, #C33764);
    background: linear-gradient(to top, #1D2671, #C33764);
    color: #fff;
    }
    html{
      background: #1D2671;
    }
    ul{
      list-style: none;
      padding: 0;
      width: 70%;
      float:right;
    }
    
    li{
      width: 100%;
      text-align: center;
      background-color: #0d264f;
      border-radius: 10px;
      margin: 2px;
      padding: 5px;
      font-size: 18px;
      cursor: pointer;
    }
    
    form{
      float:left;
      width: 30%;
      padding: 20px;
      background-color: white;
    }
    
    input{
      width: 100%;
      border: none;
      padding: 10px;
      font-size:20px;
      color: #0d264f;
      background-color: #c7c7e7;
    }
    
    button{
      float: right;
      padding: 10px 20px;
      margin: 10px 0;
      border: none;
      border-radius: 3px;
      color: #fff;
      background-color: #0d264f;
    }