.particles {
    position: relative;
    display: inline-block;
  }
  
  .wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .content:focus,
  .content > *:focus {
    outline: none;
  }
  
  .canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    pointer-events: none;
  }

  @media (min-width: 768px){
  .container {
    max-width: 100%;
  }
}

@media (min-width: 576px){
  .container {
    max-width: 100%;
  }
}

.container{
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

