<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>  
            <h1>Home Page</h1>
            <!--For loop to iterate through our dictionary entries-->
            {% for post in posts %}
            <!--Take 'title' from our post dictionary and print it-->
            <h1>{{ post.title }}</h1> 
            <p>By {{ post.author }} on {{ post.date_posted }}</p>
            <p>{{ post.content }}</p>
            <!--Declare the end of the for loop-->
            {% endfor %} 
    </body>
</html>