<!--Declare the html file we want to send our content to-->
{% extends "layout.html" %}

<!--Declare the block we want to insert into our the content section of our layout.html file with the name of 'content'-->
{% block content %}
<!--For loop to iterate through our dictionary entries-->
    {% for post in posts %}
        <!--Take 'title' from our post dictionary and print it-->
        <h1>{{ post.title }}</h1>
        <p>By {{ post.author }} on {{ post.date_posted }}</p>
        <p>{{ post.content }}</p>
        <!--Declare the end of the for loop-->
    {% endfor %}
<!--End the block of content, specifically defining the 'content' block-->
{% endblock content %}
